<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Production Line</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Custom styling -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1 class="text-center title">Factory Simulator</h1>

    <!-- Drag and drop blocks -->
<div class="container mt-6 stage-area">
    <div class="row">
        <div class="col-md-2 stage" id="col1">
            <div id="workstation1" class="block" draggable="false">Station 1</div>
        </div>
        <div class="col-md-2 stage" id="col2">
            <div id="workstation2" class="block" draggable="false">Station 2</div>
        </div>
        <div class="col-md-2 stage" id="col3">
            <div id="workstation3" class="block" draggable="false">Station 3</div>
        </div>
        <div class="col-md-2 stage" id="col4">
            <div id="workstation4" class="block" draggable="false">Station 4</div>
        </div>
        <div class="col-md-2 stage" id="col5">
            <div id="workstation5" class="block" draggable="false">Station 5</div>
        </div>
        <div class="col-md-2 stage" id="col6">
            <div id="workstation6" class="block" draggable="false">Station 6</div>
        </div>
    </div>
    <div class="row">
        <div>
            <div class="col-md-4"><btn class="btn btn-primary" id="calculate_button">Calculate</btn></div>
            <label for="period-select" class="form-label">Select Value:</label>
            <select id="period-select" class="form-select">
                <option value="Day">Day</option>
                <option value="Week">Week</option>
                <option value="Month">Month</option>
                <option value="Quarter">Quarter</option>
                <option value="Year">Year</option>
            </select>
            <!--<button class="block" id="query_button">Search</button>-->
        </div>
    </div>
</div>

    

    <!-- Bootstrap grid setup -->
<div class="container graph mt-5">
    <div class="row justify-content-around">
        <div class="col-md-4 selection">
            <label for="object-select" class="form-label">Select Date:</label>
            <select id="object-select" class="form-select"></select>
        </div>
        <div class="col-md-4 selection">
            <label for="graph-select" class="form-label">Select Value:</label>
            <select id="graph-select" class="form-select">
                <option value="PRODUCTION">Production</option>
                <option value="OCCUPANCY">Occupancy</option>
                <option value="DOWNTIME">Down Time</option>
                <option value="FIX_TIME">Fix Time</option>
                <option value="WAITING_TIME">Waiting Time</option>
                <option value="BOTTLENECK_TIME">Bottleneck Time</option>
            </select>
        </div>
        <div id="chart-area"></div>
    </div>
</div>

    <script>
        var valores = JSON.parse('<%- JSON.stringify(message) %>');

        // This JavaScript code will populate the select element with options
        document.addEventListener("DOMContentLoaded", async () => {
            // Fetch data from the server

            // Get the select element
            var selectElement = document.getElementById("object-select");

            // Iterate over the array and add options to the select element
            for (var i = 0; i < valores.length; i++) {
                var option = document.createElement("option");
                option.text = valores[i]; // The text of the option is the value at index i of the array
                option.value = i; // The value of the option can be the index in this case
                selectElement.appendChild(option);
            }

            const combobox = document.getElementById("object-select");
            var selectedOptionIndex = combobox.value; // Obtener el índice de la opción seleccionada
            selectedKey = combobox.options[selectedOptionIndex].text; // Obtener el texto de la opción seleccionada
            read(selectedKey);
        });
    </script>

<!-- External JS libraries -->
<script src="js/d3.min.js"></script>
<!-- Custom JS -->
<script src="js/main.js"></script>
<!-- Connection JS <script src="js/connection.mongodb.js"></script>-->


</body>
</html>